<a href="https://colab.research.google.com/github/FeeshX/DATA-690-WANG/blob/master/Assignment4/Assignment4_hwk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise**

The task involves Data Cleansing for a text file on Census Cost data.

In [ ]:
#Mounting data file from local Google Drive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Write code to open the text file census_cost.txt and read all lines into a list named "line_list". Print line_list.
with open("/content/drive/My Drive/census_cost.txt", "rt") as f:
    line_list = f.readlines()

for row in line_list:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [ ]:
#Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.
top2_list = line_list[0:1]
for row in top2_list:
  print(row)

Source: https://www.genealogybranches.com/censuscosts.html

In [ ]:
#Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.
data_list = line_list[3:25]
for row in data_list:
  print(row)

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [ ]:
#Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. 

year = open('/content/drive/My Drive/census_cost.txt','r')
line_list=year.readlines()

year_column_number = 0
censusyear = []
for x in data_list:
    censusyear.append(x.split()[year_column_number])
year.close()

#Remove the "*" from the last element "2010*". Print the cleansed year_list.
censusyear = ([s.strip('*') for s in censusyear])
print(censusyear)

['1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

In [ ]:
#Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. 
year_column_number = 1
pop_list = []
for x in data_list:
    pop_list.append(x.split()[year_column_number])
year.close()

#Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".
pop_list = ([s.replace(',', '') for s in pop_list])
print(pop_list)

['5308483', '7239881', '9633822', '12866020', '17069458', '23191876', '31443321', '38558371', '50155783', '62979766', '76303387', '91972266', '105710620', '122775046', '131669275', '151325798', '179323175', '203302031', '226542199', '248718301', '281421906', '308745538']

In [ ]:
#Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. 
year_column_number = 2
cost_list = []
for x in data_list:
    cost_list.append(x.split()[year_column_number])
year.close()

#Remove the ",", and "$", and "Billion".
cost_list = ([s.replace(',', '') for s in cost_list])
cost_list = ([s.replace('$', '') for s in cost_list])
cost_list = ([s.replace('Billion', '') for s in cost_list]) 
print(cost_list)

#Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list
cost_list[-1] = "13000000000"
cost_list[-2] = "4500000000"
print(cost_list)

['66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4.5', '13']
['66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '13000000000']

In [ ]:
#Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **"avg_list"**. 
year_column_number = 3
avg_list = []
for x in data_list:
    avg_list.append(x.split()[year_column_number])
year.close()

#Remove the "cents", and "$".
avg_list = ([s.replace('cents', '') for s in avg_list])
avg_list = ([s.replace('$', '') for s in avg_list])
avg_list[-1] = "15.99"
avg_list[-2] = "42.11"

#Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.
avg_list = [float(i) for i in avg_list]
dollar_values = avg_list[17:22]

avg_list = [i/100 for i in avg_list[0:16]] + dollar_values
avg_list

[0.0124,
 0.0246,
 0.0216,
 0.0294,
 0.048799999999999996,
 0.061399999999999996,
 0.0626,
 0.08869999999999999,
 0.11539999999999999,
 0.1833,
 0.15539999999999998,
 0.1707,
 0.2376,
 0.3271,
 0.5129,
 0.6043999999999999,
 1.22,
 4.76,
 10.02,
 42.11,
 15.99]

In [ ]:
#Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed
import pandas as pd
df = pd.DataFrame(list(zip(censusyear, pop_list, cost_list, avg_list)),
              columns=['Census Year','Total Population', 'Census Cost', 'Average Cost per Person'])

print(df)

   Census Year Total Population Census Cost  Average Cost per Person
0         1800          5308483       66109                   0.0124
1         1810          7239881      178445                   0.0246
2         1820          9633822      208526                   0.0216
3         1830         12866020      378545                   0.0294
4         1840         17069458      833371                   0.0488
5         1850         23191876     1423351                   0.0614
6         1860         31443321     1969377                   0.0626
7         1870         38558371     3421198                   0.0887
8         1880         50155783     5790678                   0.1154
9         1890         62979766    11547127                   0.1833
10        1900         76303387    11854000                   0.1554
11        1910         91972266    15968000                   0.1707
12        1920        105710620    25117000                   0.2376
13        1930        122775046    40156000                   0.3271
14        1940        131669275    67527000                   0.5129
15        1950        151325798    91462000                   0.6044
16        1960        179323175   127934000                   1.2200
17        1970        203302031   247653000                   4.7600
18        1980        226542199  1078488000                  10.0200
19        1990        248718301  2492830000                  42.1100
20        2000        281421906  4500000000                  15.9900

In [ ]:
df.loc[-1] = [top2_list,'','','']
df

                                           Census Year  ... Average Cost per Person
 0                                                1800  ...                  0.0124
 1                                                1810  ...                  0.0246
 2                                                1820  ...                  0.0216
 3                                                1830  ...                  0.0294
 4                                                1840  ...                  0.0488
 5                                                1850  ...                  0.0614
 6                                                1860  ...                  0.0626
 7                                                1870  ...                  0.0887
 8                                                1880  ...                  0.1154
 9                                                1890  ...                  0.1833
 10                                               1900  ...                  0.1554
 11                                               1910  ...                  0.1707
 12                                               1920  ...                  0.2376
 13                                               1930  ...                  0.3271
 14                                               1940  ...                  0.5129
 15                                               1950  ...                  0.6044
 16                                               1960  ...                    1.22
 17                                               1970  ...                    4.76
 18                                               1980  ...                   10.02
 19                                               1990  ...                   42.11
 20                                               2000  ...                   15.99
-1   [Source: https://www.genealogybranches.com/cen...  ...

[22 rows x 4 columns]

In [ ]:
df.to_csv (r'/content/drive/My Drive/census_cost2.txt', index = False, header=True)
print (df)

                                           Census Year  ... Average Cost per Person
 0                                                1800  ...                  0.0124
 1                                                1810  ...                  0.0246
 2                                                1820  ...                  0.0216
 3                                                1830  ...                  0.0294
 4                                                1840  ...                  0.0488
 5                                                1850  ...                  0.0614
 6                                                1860  ...                  0.0626
 7                                                1870  ...                  0.0887
 8                                                1880  ...                  0.1154
 9                                                1890  ...                  0.1833
 10                                               1900  ...                  0.1554
 11                                               1910  ...                  0.1707
 12                                               1920  ...                  0.2376
 13                                               1930  ...                  0.3271
 14                                               1940  ...                  0.5129
 15                                               1950  ...                  0.6044
 16                                               1960  ...                    1.22
 17                                               1970  ...                    4.76
 18                                               1980  ...                   10.02
 19                                               1990  ...                   42.11
 20                                               2000  ...                   15.99
-1   [Source: https://www.genealogybranches.com/cen...  ...

[22 rows x 4 columns]

In [ ]:
#Open the newly-created file "census_cost.csv", read all lines and display them.
with open("/content/drive/My Drive/census_cost2.txt", "rt") as j:
    line_list2 = j.readlines()

for row in line_list2:
  print(row)

Census Year,Total Population,Census Cost,Average Cost per Person

1800,5308483,66109,0.0124

1810,7239881,178445,0.0246

1820,9633822,208526,0.0216

1830,12866020,378545,0.0294

1840,17069458,833371,0.048799999999999996

1850,23191876,1423351,0.061399999999999996

1860,31443321,1969377,0.0626

1870,38558371,3421198,0.08869999999999999

1880,50155783,5790678,0.11539999999999999

1890,62979766,11547127,0.1833

1900,76303387,11854000,0.15539999999999998

1910,91972266,15968000,0.1707

1920,105710620,25117000,0.2376

1930,122775046,40156000,0.3271

1940,131669275,67527000,0.5129

1950,151325798,91462000,0.6043999999999999

1960,179323175,127934000,1.22

1970,203302031,247653000,4.76

1980,226542199,1078488000,10.02

1990,248718301,2492830000,42.11

2000,281421906,4500000000,15.99

['Source: https://www.genealogybranches.com/censuscosts.html\n'],,,